body {
    margin: 0;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.poster {
    width: 90vw;        
    max-width: 700px;
}

.poster img {
    width: 100%;
    height: auto;
    display: block;
}